/*========================================
--> VARIABLES
========================================*/

:root {
  /* Fonts */
  --font-base: "Crimson Text", Georgia, Times, "Times New Roman", serif;
  --font-title: "Lato", Arial, "Helvetica Neue", Helvetica, sans-serif;

  /* Colors */
  --color-main: #323042;
  --color-grey: #7a7a7a;
  --color-light: #fff;
  --color-dark: #000;
  --color-shadow: rgba(168, 168, 168, 0.2);

  /* Misc */
  --navbar-height: 50px;
  --container-p-s: 20px;
  --container-p-m: 40px;
  --side-photo-width: 35vw;
  /* Must be the same as in app.js/INDEX/indexWidth */
  --index-width: 30vw;
  --index-width-big: 140px;
}

/*========================================
--> RESET
========================================*/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*========================================
--> BASE
========================================*/

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-base);
  font-size: 18px;
  line-height: 1.5;
}

a {
  color: #2e3a7b;
  text-decoration: none;
  border-bottom: 1px solid #2e3a7b;
}

/*========================================
--> NAVIGATION
========================================*/

body {
  margin-top: var(--navbar-height);
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  /* Shrink height, otherwise the overlap would make links unclickable in mobile view */
  height: var(--navbar-height);
  transition: top 0.3s;
}

/* Contains the nav items: Home, Talks, Papers */
.navList {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: var(--container-p-s);
  padding-left: var(--container-p-s);
  background-color: var(--color-light);
  box-shadow: 0 4px 4px var(--color-shadow);
  /* Hidden in mobile view */
  transform: translateY(-12rem);
  transition: transform 0.5s ease-out;
}
.navList__li {
  width: 6rem;
  text-align: center;
}
.navList__link {
  display: inline-block;
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0.3rem 0;
  font-family: var(--font-title);
  color: var(--color-main);
  border-bottom: 3px solid transparent;
  text-decoration: none;
}
.navList__link.currentPage {
  border-bottom: 3px solid var(--color-main);
}

/* A wide stripe on the top of the screen. Only visible in mobile view; contains .nav__btn */
.navBar {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: var(--navbar-height);
  padding-right: var(--container-p-s);
  padding-left: var(--container-p-s);
  background-color: var(--color-light);
}

/* Nav toggle btn. Only visible in mobile view. */
.nav__btn {
  width: 25px;
  height: 25px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
}
/* The btn icon changes with its state */
.openNav {
  background-image: url("img/menu-open.png");
}
.closeNav {
  background-image: url("img/menu-close.png");
}

/* Bigger screen sizes - See also: app.js/NAVIGATION */
/* Must be the same parm as in app.js/NAVIGATION/biggerScreens */
/* Must be the same parm as in PROFILE/media query  */
@media (min-width: 600px) {
  .navList {
    flex-direction: row;
    transform: translateY(0);
  }
  .navList__link {
    margin-bottom: 0;
  }
}

/*========================================
--> PROFILE (Home)
========================================*/

.profile {
  display: grid;
  gap: 1rem;
  max-width: 700px;
  margin: 0 auto;
  padding-right: var(--container-p-s);
  padding-left: var(--container-p-s);
}
.profile__title {
  font-family: var(--font-title);
  font-size: 1.667em;
  line-height: 1;
  text-transform: uppercase;
  color: var(--color-main);
}
.profile__intro > p {
  margin-bottom: 0.5em;
}
.profile__img {
  display: block;
  width: 150px;
  margin: 0 auto;
}

/* Contact */
.contact {
  width: fit-content;
  margin: 40px auto;
  padding: 20px;
  font-family: var(--font-title);
  font-size: 1rem;
  line-height: 1.25;
  text-align: center;
  border: 1px solid var(--color-main);
}
.contact__title {
  font-weight: bold;
  color: var(--color-main);
}
.contact hr {
  width: 50%;
  border-color: var(--color-grey);
}

/* Photo of a beautiful landscape */
.photo {
  width: 100%;
  height: 160px;
  background-image: url("img/landscape.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Must be the same parm as in NAVIGATION/media query  */
@media (min-width: 600px) {
  .home-body {
    margin-right: var(--side-photo-width);
  }

  .profile {
    gap: 1.5rem;
    padding-top: 20px;
  }
  .profile__title {
    font-size: 2.222em;
  }
  .photo {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    width: var(--side-photo-width);
    height: 100vh;
  }
}

/* Spread content on bigger screens to prevent too much white space */
@media (min-width: 600px) and (min-height: 650px) {
  .home-main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: calc(100vh - var(--navbar-height));
  }
}

/* Component layout for large screens */
@media (min-width: 800px) {
  .profile {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      "title title"
      "img intro";
    padding-right: var(--container-p-m);
    padding-left: var(--container-p-m);
  }
  .profile__title {
    grid-area: title;
  }
  .profile__intro {
    grid-area: intro;
    align-self: center;
  }
  .profile__img {
    grid-area: img;
  }
}

/*========================================
--> INDEX
========================================*/
/* Contains internal links to the entry sections */
/* See: TALKS and PAPERS ENTRIES */

.index {
  position: fixed;
  top: 0;
  right: calc(0px - var(--index-width));
  z-index: 50;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: var(--index-width);
  height: 100vh;
  padding-bottom: 100px;
  background-color: var(--color-light);
  box-shadow: -5px 0 5px var(--color-shadow);
}
.index > a {
  color: var(--color-grey);
  border-bottom: none;
}
.index > a:hover {
  color: var(--color-dark);
}

/* Index toggle btn. Only visible in mobile view. */
.index__btn {
  position: fixed;
  right: var(--container-p-s);
  bottom: var(--container-p-s);
  z-index: 100;
  width: 50px;
  height: 50px;
  padding: 0;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
}
/* The btn icon changes with its state */
.openIndex {
  background-image: url("img/index-open.png");
}
.closeIndex {
  background-image: url("img/index-close.png");
}

/* Must be the same parm as in NAVIGATION/media query  */
@media (min-width: 600px) {
  .index {
    left: 0;
    top: calc(var(--navbar-height) + 60px);
    height: fit-content;
    justify-content: center;
    align-items: flex-end;
    width: var(--index-width-big);
    padding-top: 80px;
    padding-right: var(--container-p-m);
    padding-bottom: 80px;
    border-right: 1px solid var(--color-grey);
    box-shadow: none;
  }
}

/*========================================
--> TALKS and PAPERS ENTRY
========================================*/
.talks {
  padding-right: var(--container-p-s);
  padding-left: var(--container-p-s);
}

/* Must be the same parm as in NAVIGATION/media query  */
@media (min-width: 600px) {
  .talks {
    padding-top: 30px;
    padding-left: calc(var(--index-width-big) + var(--container-p-m));
  }
}

.entry {
  display: block;
  padding: 10px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.entry:hover {
  border-top: 1px solid var(--color-grey);
  border-bottom: 1px solid var(--color-grey);
}
.entry__section {
  color: var(--color-main);
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}
.entry__title {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  line-height: 1.2;
  color: var(--color-dark);
}
.entry__info {
  font-family: var(--font-title);
  font-size: 0.9rem;
  color: var(--color-grey);
}

/*========================================
--> FOOTER
========================================*/
/* Home page doesn't have a footer */

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-top: 80px;
  font-size: 18px;
  color: var(--color-light);
  background-color: var(--color-main);
}
/* Decorative pine trees */
.footer::before,
.footer::after {
  content: "";
  position: absolute;
  top: -40px;
  width: 54px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.footer::before {
  left: var(--container-p-s);
  background-image: url("img/pine-left.png");
}
.footer::after {
  right: var(--container-p-s);
  background-image: url("img/pine-right.png");
}

/* Must be the same parm as in NAVIGATION/media query  */
/* Growing the pine trees :-) */
@media (min-width: 600px) {
  .footer {
    margin-top: 100px;
  }
  .footer::before,
  .footer::after {
    top: -60px;
    width: 80.5px;
    height: 60px;
  }
  .footer::before {
    left: var(--container-p-m);
  }
  .footer::after {
    right: var(--container-p-m);
  }
}
