/*========================================
--> VARIABLES
========================================*/

:root {
  /* Fonts */
  --font-base: "Crimson Text", Georgia, Times, "Times New Roman", serif;
  --font-title: "Lato", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/*========================================
--> RESET
========================================*/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*========================================
--> BASE
========================================*/

body {
  font-family: var(--font-base);
  font-size: 18px;
  line-height: 1.5;
}
